/* Блок при удалении заказа */
#block_deleteOrder
{
  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;
  height: 100%;

  background-color: rgba(60, 60, 60, 0.70);

  z-index: 5;
}

/* Модальное окно с вопросом */
#block_questionDeleteOrder
{
  height: 15%;
  width: 40%;
  background-color: white;
  border-radius: 3px;
}

/* Блок с вопросом */
#block_question
{
  height: 50%;
  width: 100%;
}

/* Вопрос */
#el_question
{
  display: inline-block;

  font-size: 22px;
  color: #404040;

  margin-left: 5%;
  margin-top: 5%;
}

/* Блок с кнопками */
#block_controls
{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;

  height: 50%;
  width: 100%;
}

/* Удалить */
#btnDelete
{
  margin-left: 5%;
  margin-right: 5%;
}

/* Кнопка "Загрузить еще заказы" */
#downloadsOrders
{
  position: fixed;
  bottom: 2%;
  right: 1%;

  width: 220px;
  height: 55px;
}

/* Меню слева, входит: фильтрбар, бар создания заказа, бар смена юзера */
.sidebar
{
  position: fixed;

  height: 97%;
  width: 20%;
  /* min-width: 20%; */

  margin-top: 1%;
  margin-left: 1%;

  background-color: white;

  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;

  z-index: 4;
}

/* Блок с логотипом и юзером */
#block_logo_nameuser
{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  width: 100%;

  background: linear-gradient(to bottom left, #29B2FF, #0095e9);
}

/* Логотип */
#logo
{
  width: 30px;
  height: 40px;
}

/* Блок с логотипом */
#block_logo
{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 30%;

  background-color: #0299ee;
}

/* Блок с юзером */
#block_user
{
  width: 70%;
}

/* Имя юзера */
#nameUser
{
  display: inline-block;
  width: 70%;

  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;

  margin-left: 15%;
  color: white;
}

/* Сменить юзера */
#changeUser
{
  display: inline-block;
  width: 100%;

  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0.02em;

  margin-top: 4%;
  margin-left: 15%;

  color: white;
}

#changeUser:hover
{
  transition: all 100ms ease-in;
  transform: scale(1.02);
  color: rgba(255, 255, 255, 0.55);
}

/* Фильтрбар */
#filterbar
{
  position: absolute;
  transition: all 0.8s ease-in-out;
}

#filterbar.hide
{
  pointer-events: none;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

/* Заголовок бара */
.title_bar
{
  display: inline-block;
  width: 100%;

  font-size: 20px;
  font-weight: 600;
  color: #404040;

  margin-left: 5%;
  margin-top: 5%;
}

/* Заголовки групп фильтраций */
.main_title_categogries
{
  display: inline-block;
  width: 100%;

  font-size: 17px;
  color: #404040;

  margin-left: 15px;
  padding-top: 5%;
}

/* Название фильтра */
.sub_title
{
  display: inline-block;
  font-size: 15px;
  color: #808080;

  margin-left: 15px;
  margin-top: 5%;
  margin-bottom: 8%;
}

/* Разделяющая линия */
.line-blue
{
  border-collapse: collapse;
  border-bottom: solid rgba(41, 178, 255, 0.2);
  border-width: thin;

  margin-top: 2%;
  margin-bottom: 2%;
}

/* Кнопки сбросить, создание заказа, отмены, смены юзера, отмена смены юзера */
#btnReset, #btnCreateOrder, #btnCancel, #btnDelete, #btnChooseUser, #btnCancelChooseUsers
{
  margin-right: 15px;
  width: 110px;
  height: 35px;
  pointer-events: inherit;
}

#btnCancel, #btnCancelChooseUsers
{
  margin-left: 15px;
}

/* Сначала конечная дата заблокирована */
#toDate
{
  pointer-events: none;
  opacity: 0.5;
}


.errorLabel
{
  margin-left: 15px;
  margin-top: 23px;

  position: absolute;
}

/* Бар создание заказа и юезра*/
#createOrderBar, #usersBar
{
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

/* Анимация появления баров: создание закза и юзерабар*/
#createOrderBar.visible, #usersBar.visible
{
  transition: all 0.4s ease-in-out;
  pointer-events: auto;
  opacity: 1;

  width: 100%;
}

#usersBar.visible
{
  height: 70%;
}


/* Блок с юзерами */
#users
{
  overflow-y: scroll;
  overflow-x: none;
  height: 100%;
}

/* Заголовок бара */
.title_bar_users
{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title_bar_users label
{
  font-size: 18px;
  padding-bottom: 5%;
}

/* Юзеры */
.user
{
  width: 95%;

  font-family: Ubuntu;
  font-size: 16px;
  font-weight: bolder;
  color: #808080;

  padding-top: 9%;
  padding-bottom: 9%;
  padding-left: 5%;
}

.user:hover
{
  background-color: #29B2FF;
  color: white;
}

.user:focus
{
  background-color: #1ca1ec;
  color: white;
}

/* Кнопка добавления заказа */
#btnAddOrder
{
  width: 90%;
  height: 40px;

  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5%;

  border-radius: 3px;
}

/* Лист */
#list
{
  display: none;
}

/* Лист видимый */
#list.visible
{
  display: block;
  position: fixed;
  height: 97%;
  width: 300px;

  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 22%;

  background-color: white;

  overflow: scroll;
  z-index: 3;
}

.listitem:hover
{
  background-color: #29B2FF;
  color: white;
}

/* Контейнер для заголовка листа */
.container_titleList
{
  width: 100%;
  height: 80px;
}

/* Заголовок листа */
.titleList
{
  position: fixed;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  height: 80px;

  background-color: white;

  z-index: 3;
}

.titleList label
{
  font-size: 18px;
  color: #404040;
  margin-left: 5%;
}

/* Иконка списка */
.listICO
{
  height: 15px;
  width: 15px;
  margin-right: 5%;
}

/* Элементы листа */
.listitem
{

  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;

  padding-left: 5%;
  padding-top: 7%;
  padding-bottom: 7%;

  font-size: 14px;
  color: #808080;

  border-bottom: solid #EDEDED;
  border-width: thin;
}

/* Блок с поисковиком */
.searchbar
{
  position: fixed;
  width: 100%;
  height: 90px;

  background: linear-gradient(to bottom, white 70%, rgba(255, 255, 255, 0));
  -webkit-transform: translate3d(0, 0, 0);

  z-index: 2;
}

/* Поиск */
.searchbar #inputSearchBar
{
  width: 75%;
  height: 80px;

  margin-top: 1%;
  margin-bottom: 15px;
  margin-left: 22%;

  padding-left: 2%;

  font-size: 22px;
  color: #404040;

  border: 0;

  z-index: 3;
}

#inputSearchBar:focus
{
  transition: all 200ms ease-in;
  transform: scale(1.01);
}

::-webkit-input-placeholder
{
  color: #d0d0d0;
  font-weight: bolder;
}

/* Блок с кнопкой "Показать статистику"  */
#button_showStatistics, #emptyNetwork
{
  display: none;
  justify-content: space-between;
  align-items: center;

  width: 77%;
  height: 70px;

  margin-left: 22%;
  margin-top: 110px;

  background-color: white;

  z-index: 2;
}

#emptyNetwork
{
  background-color: #F07070;
  color: white;
  font-size: 16px;
  font-family: Ubuntu;
  font-weight: 600;
  padding-left: 2%;
  width: 75%;
}

/* Блок с интервалом времени */
.Field
{
  margin-left: 2%;
}

/* Цвет в блоке выбранного интервала */
.Field label
{
  font-size: 14px;
  color: #606060;
}

/* Данные о выбранной выборке */
#time
{
  font-size: 18px;
  color: #404040;
}

/* Кнопка показать статистику */
#btnShowStatistics
{
  border: 1px solid #29B2FF;
  border-radius: 3px;

  color: #29B2FF;
  background-color: inherit;

  width: 170px;
  height: 35px;
  margin-right: 2%;

  font-family: Ubuntu;
  font-size: 14px;
}

#btnShowStatistics:hover
{
  color: white;
  background: #29B2FF;
}

.error_notFound
{
  font-family: Ubuntu;
  font-size: 36px;
  color: #dadada;

  position: absolute;

  width: 400px;
  height: 50px;

  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  z-index: 6;
}

#main
{
  position: relative;
  margin-left: 22%;
  margin-bottom: 1%;
  padding-top: 95px;
  width: 77.8%;
  min-height: 95%;
  z-index: 1;
}

#ordersMain
{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#searchMain
{
  display: none;
  position: absolute;
  min-height: 100%;
  width: 77%;
  background-color: rgba(25, 178, 223, 0.02);
}

.order
{
  display: inline-block;
  width: 19%;
  height: 350px;
  margin-top: 1.5%;
  margin-right: 1%;
  background-color: white;
  box-shadow: 0 4px 1em rgba(0,0,0,0.1);
  z-index: 0;
}

.statusRun, .statusOpen, .statusClose
{
  width: 100%;
  bottom: 0;
  height: 5px;
}

.statusRun
{
  background-color: #29B2FF;
}

.statusOpen
{
  background-color: white;
}

.statusClose
{
  background-color: #8CD98E;
}

#titleOrder
{
  width: 100%;
  height: 20%;
  display: inline-flex;
  justify-content: space-between;
}

#titleOrder .controlIMG
{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  margin-top: 5%;
  margin-right: 8%;
}

#titleOrder label
{
  display: inline-block;
  font-family: Ubuntu;
  font-size: 20px;
  word-wrap: break-word;
  width: 110px;
  color: #77777;
  margin-left: 10%;
  margin-top: 5%;
  color: #505050;
}

.statisticsICO
{
  display: none;
  width: 20px;
  height: 25px;
}

.deleteOrderICO
{
  display: none;
  width: 23px;
  height: 23px;
  margin-left: 40%;
}

#client
{
  text-align: left;
}

#bodyOrder
{
  display: inline-block;
  width: 100%;
  height: 80%;
  text-align: center;
  vertical-align: bottom;
}

#bodyClient
{
  display: inline-block;
  width: 100%;
  height: 30%;
  margin-top: 10%;

  text-align: center;
  vertical-align: bottom;
}

#bodyMore
{
  display: inline-block;
  width: 100%;
  height: 40%;
  text-align: center;
  vertical-align: bottom;
}

#bodyClient div, #bodyMore div
{
  display: inline-block;
  width: 90%;
  margin-top: 4%;
}

#bodyClient label, #bodyMore label
{
  font-size: 18px;
  font-family: Ubuntu;
  font-weight: 600;
  margin-left: 10%;
  margin-right: 5%;
  color: #505050;
  float: left;
}

.order:hover
{
  z-index: 0;
  transition: all 200ms ease-in;
  transform: scale(1.04);
  box-shadow: 3px 0px 2em rgba(0, 0, 0, 0.1);
}

.order:hover .statisticsICO
{
  display: block;
}

.order:hover .deleteOrderICO
{
  display: block;
}

.order:hover #titleOrder label
{
  transition: all 200ms ease-in;
}

.order:hover #bodyClient label, .order:hover #bodyMore label
{
  transition: all 200ms ease-in;
}

@media screen and (max-width:1280px), screen and (max-height:720px)
{
  #nameUser
  {
    font-family: Ubuntu;
    font-size: 14px;
    width: 75%;
  }

  #exit
  {
    width: 15px;
    height: 15px;
    margin-right: 5%;
  }

  .sidebar #logo
  {
    width: 20px;
    height: 25px;
  }
}

@media screen and (min-width:1600px) and (max-width:3200px)
{
  .order
  {
    width: 15.66%;
    height: 320px;
  }

  #bodyClient label, #bodyMore label
  {
    font-size: 16px;
  }

  .sidebar
  {
    width: 15%;
  }

  #main, .searchbar #inputSearchBar, #list.visible, #button_showStatistics, #emptyNetwork
  {
    margin-left: 17%;
  }

  #main
  {
    width: 83%;
  }

  #button_showStatistics, #emptyNetwork
  {
    width: 82.1%;
  }

  .searchbar #inputSearchBar
  {
    width: 80.1%;
  }

  .listitem
  {
    font-size: 18px;
  }

}

@media screen and (min-width:1400px) and (max-width:1599px)
{
  .order
  {
    width: 24%;
    height: 300px;
  }

  #titleOrder label
  {
    font-size: 18px;
  }

  #bodyClient label, #bodyMore label
  {
    font-size: 16px;
  }
}

@media screen and (min-width:1360px) and (max-width:1399px)
{
  .order
  {
    width: 19%;
    height: 260px;
  }

  #bodyClient label, #bodyMore label
  {
    font-size: 14px;
  }
}

@media screen and (min-width:1280px) and (max-width:1359px)
{
  .order
  {
    width: 19%;
    height: 240px;
  }

  #titleOrder label
  {
    font-size: 16px;
  }

  #bodyClient label, #bodyMore label
  {
    font-size: 12px;
  }
}

@media screen and (min-width:1024px) and (max-width:1279px)
{
  .order
  {
    width: 19%;
    height: 240px;
  }

  #bodyClient label, #bodyMore label
  {
    font-size: 12px;
  }
}

@media screen and (min-width:480px) and (max-width:768px)
{
  .order
  {
    width: 49%;
    height: 500px;
  }

  #bodyClient label, #bodyMore label
  {
    font-size: 28px;
  }
}
