#closeOrder
{
  margin-right: 20px;
}

/**********************************************************/
/** Описание стилей для таблицы операции**/
/**********************************************************/
#tableBlock
{
  position: relative;
  height: 60%;
  width: 100%;
}

#block_warning
{
  position: absolute;

  display: none;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  border-top: solid #EDEDED;
  border-bottom: solid #EDEDED;
  border-collapse: collapse;
  border-width: medium;

  background-color: rgba(240, 240, 240, 0.9);
  z-index: 5;
}

#el_warning
{
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: #29B2FF;

  border-radius: 40px;

  width: 500px;
  height: 60px;

  font-size: 18px;
  color: white;
}


table
{
  width: 100%;
  min-height: 100%;

  border-collapse: collapse;
  border-width: thin;
}

.titleTable
{
  padding-left: 3.5%;
  padding-right: 3.5%;
  padding-top: 1%;
  padding-bottom: 1%;

  font-size: 22px;
  text-align: center;

  border-bottom: solid #EDEDED;
  border-right: solid #EDEDED;
  border-width: thin;

  pointer-events: none;
}

td
{
  padding: 1%;

  border-right: solid #EDEDED;
  border-width: thin;

  font-size: 22px;
  font-weight: 600;
  color: #333333;
}


.downCursor
{
  display: inline-block;
  float: right;

  margin-top: 5px;

  border: 6px solid transparent;
  border-top: 6px solid #DEDEDE;
}

/**********************************************************/
/** Описание операций для таблицы операции**/
/**********************************************************/
/*#F07070 #8CD98E #FFCE1F*/


/**********************************************************/
/* Выпадающий список */
/**********************************************************/

.dropbtn
{
    padding: 1%;
    cursor: pointer;
    position: relative;
}

.dropbtn:hover, .dropbtn:hover
{
    background-color: #F07070;
    color: white;
}

.dropdown-content {
    left: 0;
    right: 0;
    top: 0;
}

.dropdown-content a {
    padding: 7%;
}

.dropdown-content a:focus, .dropdown-content a:hover
{
  background-color: #F07070;
}

/* Блок операций */
.operations
{
  width: 100%;
  height: auto;
  padding-top: 1.5%;
  background-color: #fcfcfc; /* fafdff - печать, fcf0f0 - простой, f4fff4 - наладка, fffcf2 - остановка*/
}

h1
{
  display: flex;
  justify-content: center;

  padding-top: 1%;
  padding-bottom: 2.5%;

  color: #ededed;
}

div[name=operationsBlock]
{
  display: inline-block;
  text-align: center;
  width: 450px;
  background-color: #FFFFFF;

  margin-left: 2%;
  margin-right: 1%;
  margin-bottom: 2%;

  border-radius: 4px;
}

.adjustment:focus label, .print:focus label, .downtime:focus label, .stop:focus label,
.adjustment:hover label, .print:hover label, .downtime:hover label, .stop:hover label
{
  color: white;
}

.ClassType, .Time
{
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  font-weight: 600;

  color: #666666;

  z-index: 1;

}
.Time
{
  margin-left: 40px;
  padding: 25px 0px;
}

.ClassType #class
{
  font-size: 23px;
}

.ClassType #type
{
  font-size: 25px;
}

.Time #min
{
  font-size: 36px;
}

.Time #labelMin
{
  font-size: 26px;
}

.ClassType
{
  width: 290px;
}


/**********************************************************/
/* Описание стилей для действий курсором */
/**********************************************************/
@media screen and (min-width:1600px) and (max-width:3200px)
{
  div[name=operationsBlock]
  {
    width: 420px;
  }

  .Time
  {
    margin-left: 2%;
  }

  .ClassType
  {
    margin-right: 5%;
  }
}

@media screen and (max-width:1440px), screen and (max-height:1000px) {
  .Field label, .time label, .user label
  {
    font-size: 14px;
  }

  h3
  {
    font-size: 22px;
  }

  .titleTable
  {
    font-size: 18px;
  }

  td
  {
    font-size: 15px;
  }

  .ClassType #class
  {
    font-size: 14px;
  }

  .ClassType #type
  {
    font-size: 16px;
  }

  .Time
  {
    pointer-events: none;
    padding: 15px 0;
  }

  .Time #min
  {
    font-size: 22px;
  }

  .Time #labelMin
  {
    font-size: 18px;
  }

  div[name=operationsBlock]
  {
    width: 310px;
  }

  .ClassType
  {
    pointer-events: none;
    width: 200px;
  }
}
