@font-face {
    font-family: Ubuntu; /* Гарнитура шрифта */
    src: url(../resources/1.ttf); /* Путь к файлу со шрифтом */
}

body
{
  background-color: #2EA8EF;
}

*
{
  margin: 0;
}

.block_auth
{
  width: 100%;
  height: 100px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.input_auth
{
  width: 550px;
  height: 60px;
  background-color: white;

  border-radius: 4px;

  font-size: 18px;
  font-family: Ubuntu;
  font-weight: 600;
  box-shadow: 4px 4px 40px rgba(0,0,0,0.35);

  padding-right: 15px;

  color: #555555;
}

::-webkit-input-placeholder
{
  color: #d0d0d0;
  font-weight: bolder;
}

.block_inputAuth_listUser
{
  position: relative;
}

.dropdown-content {
    max-height: 290px;
    width: 100%;

    margin-top: 1%;
    overflow-y: scroll;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 16px;
    padding: 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:focus, .dropdown-content a:hover
{
  background-color: #dadada;
}

.entry
{
    max-width: 400px;
    max-height: 400px;
    background: #FFFFFF;
    border-radius: 8px;
    -webkit-box-shadow: 4px 4px 40px rgba(0,0,0,0.35); /* Safari & Chrome */
    -moz-box-shadow: 4px 4px 40px rgba(0,0,0,0.35); /* Firefox */
    -o-box-shadow: 4px 4px 40px rgba(0,0,0,0.35); /* Opera */
    box-shadow: 4px 4px 40px rgba(0,0,0,0.35);

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.logo
{
  margin-top: 2%;
  position: relative;
  text-align: center;
}

#users
{
  display: inline-block;
  height: 75%;
  width: 100%;
  overflow-y: scroll;
}

.user
{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-family: 'Ubuntu';
  color: #4D4D4D;
}

.user:hover
{
  background-color: #29B2FF;
  color: white;
}

.user:focus
{
  background-color: #1ca1ec;
  color: white;
  -webkit-appearance: none;
  outline: 0;
}

.button
{
  width: 100%;
  height: 10%;
  margin-top: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button
{
  width: 200px;
  height: 65px;
  font-size: 18px;
  font-family: 'Ubuntu';
  color: #4D4D4D;
  background-color: white;

  -webkit-box-shadow: 4px 4px 40px rgba(0,0,0,0.35); /* Safari & Chrome */
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: 4px;
  border: 0px solid;
  outline: 0;

  margin-left: 15px;
}
button:hover
{
  background-color: #29B2FF;
  color: white;
}

label
{
  font-size: 18px;
  color: #363636;
  font-family: 'Ubuntu', monospace;
}
input:focus
{
  border: 3px solid;
  border-color: #2EA8EF;
}
input
{
  border-radius: 18px;
  height: 25px;
  width: 200px;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid;
  font-size: 14px;
  font-family: 'Ubuntu';
  border-color: #E0E0E0;
  outline: 0;
}

.fields
{
  float: left;
  padding-left: 30px;
  position: absolute;
  bottom: 100px;
}
.labelField
{
  float: left;
  padding-right: 15px;
}
.field
{
  line-height: 35px;
  clear:both;
  text-align:right;
}
